#header{
  text-align: center;
  color: red;
  background-color: black;
}

h1,h2,h3,h4,label {
  color: red;
  text-align: center;
}
/* the outputs*/
span {
  font-family: cursive;
  font-variant: inherit;
  font-weight: 50px;
  color: red;
}
.wrapper {
  background-image: url(../img/background-dice.jpg);
  background-size:cover;
  height: 80%;
  background-repeat: no-repeat;

}
#playButton {
  margin-top: 10px;
}
#dice-pic {
vertical-align: auto;
margin: 10px;
}
#player-names-section {
box-shadow: 10px;
}
#playerNames {
  padding-left: 0px; 
}
